<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Dostań lub oddaj</title>
</head>
<body>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Dostań lub Oddaj</h1>
    <p class="lead">Witaj na stronie dostań lub oddaj! Jeżeli często spotykasz się ze znajomymi i zapominasz
        komu i co zalegasz lub co gorsza kto i co zalega Tobie, to ta strona jest właśnie dla Ciebie!
    <hr class="my-4">
    <p>Wystarczy się zarejestrować i już możesz spokojnie się witać ze znajomymi, bez zastanawiania się ile i co komu zalegam!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button" th:href="@{/login}">Zaloguj</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" th:href="@{/register}">Zarejestruj się</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" th:href="@{/loguj}">Moja strona</a>
    </p>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>