<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title th:text="|${personDebt.get(0).firstName} ${personDebt.get(0).lastName}|">Person Page</title>
</head>
<body>

<div class="container" >
    <div class="p-3 mb-2 bg-warning text-dark">
            <div class="media">
               <img class="mr-3" th:src="@{${personDebt.get(0).image}}"/>
                     <div class="media-body">
                        <h1 class="mt-0 mb-1" th:text="|${personDebt.get(0).firstName} ${personDebt.get(0).lastName}|" ></h1>
                        <h4> </h4>
                        <h4> </h4>
                        <h4 th:text="|${personDebt.get(0).about}|"> informacje o osobie</h4>
                         <h4 th:text="|Lat: ${personDebt.get(0).age}|"></h4>
                    </div>
             </div>
        <form th:action="@{|/loguj|}">
            <div class="form-group p-2 mb-2">
                <button type="submit" class="btn btn-primary"  th:ref="@{${/loguj}}">Wróć</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="p-3 mb-2 bg-success text-white">
            <h6 th:text="|Do dostania (+):|"></h6>
                <ul  class="list-view" th:each="get:${personDebt.get(1)}">
                    <li th:text="|${get.id}) ${get.debt} PLN - ${get.informationGet}|"></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-3 mb-2 bg-danger text-white">
            <h6 th:text="|Do oddania (-):|"></h6>
            <ul  class="list-view" th:each="give:${personDebt.get(2)}">
                <li th:text="|${give.id}) ${give.debt} PLN - ${give.informationGive}|"></li>
            </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <div class="p-3 mb-2 bg-secondary text-white">
            <form method="post" th:action="@{|/debt|}">
                <div class="form-group">
                    <div class="col-6">
                        <input type="text" class="form-control" name="information" placeholder="za co">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-6">
                        <input type="text" class="form-control" name="debt" placeholder="ile">
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${personDebt.get(0).id}">
                <div class="form-inline">
                    <div class="form-group p-2 mb-2">
                        <button type="submit" class="btn btn-primary" name="kind" value="get">+</button>
                    </div>
                    <div class="form-group p-2 mb-2">
                        <button type="submit" class="btn btn-primary" name="kind" value="give">-</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    <div class="col-lg-6">
        <div class="p-3 mb-2 bg-info text-white">
            <h6 th:text="|Jeżeli chcesz usunąć rekord to wpisz numer przy kwocie (id)|"></h6>
            <form method="post" th:action="@{|/removerec|}">
                <div class="col-6">
                    <div class="form-group">
                    <input type="String" name="id" placeholder="id">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                    <select class="form-control" name="kind">
                        <option value="give">Do oddania</option>
                        <option value="get">Do dostania</option>
                    </select>
                    </div>
                </div>
                <div class="form-group p-2 mb-2">
                    <button type="submit" class="btn btn-primary">Usuń rekord</button>
                </div>
            </form>
    </div>
    </div>
</div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="p-3 mb-2 bg-danger text-white">
                 <h4 th:each="|Do oddania: ${person.toGive}|"></h4>
                <h6 th:each="|${person.informationGive}|"></h6>
            </div>
        </div>
            <div class="col-md-6 text-right">
                <div class="p-3 mb-2 bg-success text-white">
                     <h4 th:each="|Do dostania: ${person.getting}|"></h4>
                    <h6 th:each="|${person.informationGet}|"></h6>
                 </div>
            </div>
    </div>
</div>-->



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>