<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Zarejestruj się!</title>
</head>
<body>
<div class="container">
<form class="needs-validation" novalidate method="post" th:action="@{/dodajuser}">
    <div class="form">
        <div class="col-3">
            <label for="firstName">Imię</label>
            <input type="String" class="form-control" id="firstName" name="firstName" placeholder="Imię">
            <small> <a style=color:red> * </a></small>
        </div>
        <div class="col-3">
            <label for="lastName">Nazwisko</label>
            <input type="String" class="form-control" id="lastName" name="lastName" placeholder="Nazwisko">
            <small> <a style=color:red> * </a></small>
        </div>
        <div class="col-3">
            <label for="username">Login</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Login" required>
            <small> <a style=color:red> * </a></small>
            </div>
        <div class="col-3">
            <label for="password2">Hasło</label>
            <input type="password" class="form-control" id="password2" name="password" placeholder="hasło" required>
            <small> <a style=color:red> * </a></small>
        </div>
        <div class="col-3">
            <label for="pass2">Powtórz hasło</label>
            <input type="password" class="form-control" id="pass2" placeholder="Powtórz hasło"  required>
            <div class="valid-feedback">
                Hasła są zgode!
                <small> <a style=color:red> * </a></small>
            </div>
        </div>
        <div class="col-3">
        <label for="imageUrl">Link do zdjęcia</label>
        <input type="String" class="form-control" id="imageUrl" name="imageUrl" placeholder="Link do zdjęcia">
    </div>
        <small> zdjęcie musi mieć wymiary 200x200 pikseli, pole nieobowiązkowe</small>
    <button class="btn-primary" type="submit">Zarejestruj</button>
    </div>
</form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>