<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Edytuj osobę</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Etyduj dane osoby z listy</h1>
        <img class="mr-3" th:src="@{${person.image}}"/>
        <hr class="my-4" th:text="|Tutaj możesz zmienić dane: ${person.firstName} ${person.lastName}|">
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" th:href="@{|/loguj|}">Twoja strona</a>
        </p>
        <p class="lead">

        </p>
    </div>
</div>

<form method="get" th:action="@{|/editperson|}">
<div class="form-group">
    <div class="col-3">
    <label for="firstNameP" th:text="|Imię w bazie: ${person.firstName}|"> </label>
    <input type="text" class="form-control" id="firstNameP" name="firstNameP" placeholder="Nowe imię">
    </div>
</div>
<div class="form-group">
    <div class="col-3">
    <label for="lastNameP" th:text="|Nazwisko w bazie: ${person.lastName}|"> </label>
    <input type="text" class="form-control" id="lastNameP" name="lastNameP" placeholder="Nowe nazwisko">
    </div>
</div>
    <div class="form-group">
        <div class="col-3">
        <label for="ageP" th:text="|Wiek w bazie: ${person.age}|"> </label>
        <input type="text" class="form-control" id="ageP" name="ageP" placeholder="Nowy wiek">
        </div>
    </div>
    <div class="form-group">
        <div class="col-3">
        <label for="imageP" th:text="|Zmień zdjęcie|"> </label>
        <input type="text" class="form-control" id="imageP" name="imageP" placeholder="link do nowego zdjęcia">
        </div>
    </div>
    <div class="form-group">
        <div class="col-3">
        <label for="aboutP" th:text="|Informacje o osobie w bazie: ${person.about}|"> </label>
        <input type="text" class="form-control" id="aboutP" name="aboutP" placeholder="Nowy opis">
        </div>
    </div>
    <input type="hidden" name="idP" th:value="|${person.id}|">
    <div class="form-group p-2 mb-2">
        <button type="submit" class="btn btn-primary" name="val" value="update">Zapisz</button>
    </div>
</form>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>