<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<title>Podsumowanie</title>
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <p class="container">
            <p>
            <h1 class="display-4"th:text="|Witaj ${results.get(0).firstName} ${results.get(0).lastName}">Witaj!</h1>
                <img class="mr-3" th:src="@{${results.get(0).imageUrl}}"/>
            <a class="lead">Oto twoja strona główna. Poniżej znajdziesz podsumowanie twoich zaległości. </a>
        </p>
        <form th:action="@{|/logout|}">
        <div class="form-group p-2 mb-2">
        <button type="submit" class="btn btn-primary" name="logout" th:ref="@{${/logout}}">Wyloguj</button>
    </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
    <ul>
           <li  class="media" th:each="person:${results.get(1)}">
               <img class="mr-3" th:src="@{${person.image}}"/>
                     <div class="media-body">
                        <h5 class="mt-0 mb-1" th:text="|${person.firstName} ${person.lastName}" ></h5>
                         <h5 th:text="|(+) ${person.toGet} |" ></h5>
                         <h5 th:text="|(-) ${person.toGive}|"></h5>
                         <h6 th:text="|Kategoria: pieniadze|"></h6>
                         <h6><a th:href="@{|/person?id=${person.id}|}" th:text="|więcej|"></a></h6>
                     </div>
            </li>
    </ul>
        </div>
        <div class="col-sm">
            <div class="p-3 mb-2 bg-secondary text-white">
                <h4 th:text="|Edytuj swoją listę osób|"></h4>
                <form method="post" th:action="@{|/dodajp|}">
                    <div class="form-group">
                        <div class="col-9">
                            <input type="text" class="form-control" name="firstNameP" placeholder="imie">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-9">
                            <input type="text" class="form-control" name="lastNameP" placeholder="nazwisko">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3">
                            <input type="text" class="form-control" name="ageP" placeholder="Wiek">
                        </div>
                    </div>
                    <div class="form-inline">

                        <div class="form-group p-2 mb-2">
                            <button type="submit" class="btn btn-primary" name="val" value="dodaj">Dodaj</button>
                        </div>
                        <div class="form-group p-2 mb-2">
                            <button type="submit" class="btn btn-primary" name="val" value="usun">Usuń</button>
                        </div>
                        <div class="form-group p-2 mb-2">
                        <button type="submit" class="btn btn-primary" name="val" value="update">Edytuj</button>
                    </div>
                    </div>
                </form>
        </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="p-3 mb-2 bg-info text-white">
            <h5 th:text="|SALDO: ${results.get(2).saldoAll} PLN|"></h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="p-3 mb-2 bg-danger text-white">
            <h5 th:text="|SALDO (-): ${results.get(2).saldoGive} PLN|"></h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="p-3 mb-2 bg-success text-white">
                <h5 th:text="|SALDO(+) :${results.get(2).saldoGet} PLN|"></h5>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
</html>